/* default rules */

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --primary-color: #3784FD;
   --secondary-color: #9792E4;
   --complementary-color: #B5DCFF;
   --white-color: #fff;
   --button-radius: 50px;
}

body {
   font-family: 'Pt Sans', sans-serif;
}

.container {
   max-width: 85%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.strategic-plan,
.benefits,
.get-started {
   background-color: var(--secondary-color);
}

a.btn {
   color: var(--white-color);
   border-radius: var(--button-radius);
   background-color: var(--primary-color);
   display: inline-block;
   padding: 12px 40px;
   letter-spacing: .25rem;
   font-weight: 600;
}

img {
   width: 100%;
}

ul {
   list-style: none;
}

li {
   display: inline;
}

p {
   line-height: 1.75rem;
}

a {
   text-decoration: none;
}



/**********
   Header 
**********/

header {
   width: 100%;
   position: fixed;
   top: 0;
   background-color: var(--primary-color);
   z-index: 1;
   color: var(--white-color);
   padding: 20px 0px;
}

.logo-col img {
   height: 30px;
}

.nav-menu {
   display: none;
}

a.btn.nav-btn {
   font-weight: 400;
   letter-spacing: inherit;
}

i.fa-solid.fa-bars {
   font-size: 1.5rem;
}


/**********
   Main 
**********/

main {
   margin-top: 74px;
}

section {
   padding: 50px 0px;
}

/* main cards */

.main-cards .card {
   text-align: center;
}

.card {
   width: 100%;
   padding: 44px 40px;
   margin-bottom: 30px;
   border-radius: 20px;
   background-color: var(--complementary-color);
}

.card h2 {
   color: var(--primary-color);
   letter-spacing: 0.1rem;
}

.card p {
   margin-top: 20px;
   color: #526575;
   font-weight: 600;
}

.card i {
   font-size: 5rem;
   margin-bottom: 20px;
   color: var(--primary-color);
}

.card.main-card {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   row-gap: 30px;
   padding: 44px 40px 0px 40px;
   text-align: left;
}

.card.main-card i {
   font-size: 1rem;
   color: var(--white-color);
   margin-bottom: 0;
}

.main-card a {
   margin-top: 20px;
}

.main-card img {
   display: block;
}

/* Strategic plan */


.col {
   width: 100%;
}

.strategic-plan {
   color: var(--white-color);
}

.strategic-plan h2 {
   margin-top: 20px;
   font-size: 2.25rem;
   margin-bottom: 20px;
}

.col-card {
   margin-top: 30px;
   background-color: var(--white-color);
   padding: 30px;
   border-radius: 50px;
   text-align: center;
   color: #212121;
}

.col-card h2 {
   font-size: 1.5rem;
}

.arrow-box {
   text-align: center;
   display: inline-block;
   padding: 20px 25px;
   background-color: var(--secondary-color);
   border-radius: 30px;
   margin-top: 20px;
}

/* testimonials */

.testimonials .col-card {
   background-color: var(--secondary-color);
   color: var(--white-color);
}

.testimonials .col-text,
.get-started .col-text {
   text-align: center;
}

.testimonials h5,
.get-started h5 {
   font-weight: 300;
   margin-bottom: 20px;
}

.testimonials h2 {
   color: var(--secondary-color);
   margin-bottom: 20px;
}

.test-img-box {
   display: inline-block;
   width: 200px;
   height: 200px;
}

.border-image {
   height: 200px;
   width: 200px;
   object-fit: cover;
   border-radius: 50%;
}

.testimonials i {
   font-size: 1.5rem;
}

.testimonials strong {
   display: inline-block;
   margin-top: 20px;
   text-transform: uppercase;
}

/* benefits */

.benefits h2 {
   text-align: center;
   color: var(--white-color);
   font-size: 2rem;
}

.benefits .col-card {
   text-align: left;
}

.benefits .col-card h1 {
   font-size: 3rem;
   color: var(--secondary-color);
   margin-bottom: 20px;
}

.benefits .col-card h3 {
   color: var(--secondary-color);
   margin-bottom: 20px;
}

.benefits a.btn {
   background-color: var(--secondary-color);
   margin-top: 20px;
}

/* abouts us */

.about-us h2 {
   font-size: 2rem;
   color: var(--secondary-color);
   margin-bottom: 20px;
}

.about-us .container {
   row-gap: 40px;
}

.ceo-box {
   position: relative;
   background-image: url(../img/about.jpg);
   background-size: cover;
   margin-bottom: 20px;
}

.fa-quote-left {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 4rem;
   color: var(--secondary-color);
}

.about-us a.btn {
   background-color: var(--secondary-color);
   font-weight: 500;
   letter-spacing: unset;
}

/* get started */

.get-started {
   color: var(--white-color);
}

.get-started h2 {
   font-size: 2.5rem;
   margin-bottom: 12px;
}

.get-started h1 {
   font-size: 5rem;
   color: #F9C15F;
}

.get-started a.btn {
   margin-top: 20px;
   background-color: var(--white-color);
   color: var(--secondary-color);
   font-size: 1.25rem;
   padding: 18px 54px;
   margin-bottom: 20px;
}

.copyright a {
   color: var(--white-color);
   text-decoration: underline;
}


/**********
   Footer 
**********/

footer {
   background-color: #333;
   text-align: center;
   padding: 50px 0px;
   color: var(--white-color);
}

.secondary-footer {
   width: 100%;
   margin-top: 20px;
   text-align: center;
}

.secondary-footer a {
   color: var(--secondary-color);
   text-decoration: underline;
}







/*******************
   Medie queries 
*******************/



@media screen and (min-width: 768px) {

   /* main cards */

   .card.main-card {
      width: 66%;
      padding: 34px 30px 0px 34px;
   }

   .card.main-card img {
      width: 60%;
   }

   .card {
      width: calc(100% / 3 - 10px);
      margin-bottom: 15px;
      padding: 34px 30px;
      align-self: stretch;
   }

   .card i {
      font-size: 4rem;
   }

   /* testimonials */

   .testimonials .card {
      width: 100%;
   }

   .testimonials .col-card {
      display: flex;
      align-items: center;
      column-gap: 50px;
   }

   .tst-text {
      text-align: left;
   }

   /* benefits */

   .benefits .col-card {
      width: calc(100% / 2 - 10px);
      margin-bottom: 20px;
      margin-top: 0px;
   }

   .benefits h2 {
      margin-bottom: 30px;
      font-size: 3rem;
      letter-spacing: .1rem;
   }

   /* about us */
   
   .about-us .col.main-col {
      width: 55%;
      align-self: stretch;
   }

   .about-us .col.min-col {
      width: 45%;
   }

   .about-us .col.min-col h2 {
      font-size: 2rem;
   }

   /* get started */

   .get-started .container,
   footer .container {
      max-width: 480px;
   }


}






@media screen and (min-width: 992px) {
   
   .container {
      max-width: 992px;
   }

   /* header */

   .nav-menu {
      display: block;
   }

   .nav-menu a {
      color: var(--white-color);
      padding: 6px 12px;
   }

   a.btn.nav-btn {
      background-color: var(--white-color);
      color: #212121;
      border-radius: var(--button-radius);
   }
   
   .hamburger {
      display: none;
   }

   /* main cards */

   .card.main-card {
      flex-direction: row;
      column-gap: 10px;
      align-self: stretch;
   }

   .card.main-card .txt-content {
      width: 55%;
   }

   .card.main-card .img-content {
      width: 45%;
   }

   .card.main-card img {
      width: 100%;
   }

   .txt-content {
      padding-bottom: 30px;
   }

   .img-content {
      align-self: flex-end;
   }

   /* strategic plan */

   .strategic-plan .container {
      max-width: 768px;
      column-gap: 60px;
   }

   .strategic-plan .col {
      width: calc(100% / 2 - 30px);
   }

   .strategic-plan .col img {
      margin-bottom: 60px;
   }

   /* benefits */

   .benefits .col-card {
      width: calc(100% / 3 - 10px);
      margin-bottom: 14px;
   }

   /* about us */

   .about-us h2 {
      font-size: 3rem;
   }

   .about-us .col.main-col {
      width: 70%;
      padding-right: 50px;
   }

   .about-us .col.min-col {
      width: 30%;
   }

   /* get started */


}