/* default rules */

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --primary-color: #3784FD;
   --secondary-color: #9792E4;
   --complementary-color: #B5DCFF;
   --button-radius: 25%;
}

body {
   font-family: 'Pt Sans', sans-serif;
}

.container {
   max-width: 85%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.strategic-plan,
.benefits,
.get-started {
   background-color: var(--secondary-color);
}

img {
   width: 100%;
}

ul {
   list-style: none;
}

li {
   display: inline;
}



/**********
   Header 
**********/

header {
   width: 100%;
   position: fixed;
   top: 0;
   background-color: var(--primary-color);
   z-index: 1;
   color: #fff;
   padding: 20px 0px;
}

.logo-col img {
   height: 30px;
}

.nav-menu {
   display: none;
}

i.fa-solid.fa-bars {
   font-size: 1.5rem;
}



/**********
   Main 
**********/

main {
   margin-top: 74px;
}

section {
   padding: 50px 0px;
}

.card {
   width: 100%;
   height: 200px;
   margin-bottom: 30px;
   border-radius: 20px;
   background-color: var(--complementary-color);
}

/* Strategic plan */


.col {
   height: 200px;
   width: 100%;
   background-color: var(--complementary-color);
   border: 1px solid var(--primary-color);
}


















@media screen and (min-width: 768px) {

   .card.main-card {
      width: 66%;
   }

   .card {
      width: calc(100% / 3 - 10px);
      margin-bottom: 15px;
   }

   /* strategic plan */

   .testimonials .card {
      width: 100%;
   }

   /* benefits */

   .benefits .card {
      width: calc(100% / 2 - 10px);
      margin-bottom: 20px;
   }

   /* about us */

   .about-us .col.main-col {
      width: 55%;
   }

   .about-us .col.min-col {
      width: 45%;
   }

}




@media screen and (min-width: 992px) {
   
   .container {
      max-width: 992px;
   }


   /* strategic plan */

   .strategic-plan .container {
      max-width: 768px;
      justify-content: center;
   }

   .strategic-plan .col {
      width: 50%;
   }

   /* benefits */

   .benefits .card {
      width: calc(100% / 3 - 10px);
      margin-bottom: 14px;
   }

   /* about us */

   .about-us .col.main-col {
      width: 65%;
   }

   .about-us .col.min-col {
      width: 35%;
   }

   /* get started */

   .get-started .container {
      max-width: 768px;
   }

}